.nav-button {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 86px;
  padding: 25px;
  border: none;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav-button.enabled {
  background: linear-gradient(180deg, #6C56ED 0%, #3B25B9 100%);
  color: #ffffff;
}

.nav-button.disabled {
  background: linear-gradient(180deg, #3F3F3F 0%, #090909 100%);
  color: rgba(255, 255, 255, 0.5);
  cursor: not-allowed;
}

.nav-button-label {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  height: 36px;
  display: flex;
  align-items: center;
}
