.new-user {
    /* New User */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 40px;

    width: auto;

    background: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.info {
    /* Page title */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    height: auto;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.title {
    height: 15px;

    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #FFFFFF;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.text {
    height: 15px;

    /* Subheading

    Description or small heading
    */
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    /* identical to box height, or 36px */
    display: flex;
    align-items: center;
    text-align: center;

    color: rgba(255, 255, 255, 0.75);


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
